<!DOCTYPE html>
<html lang="en" ng-app="myModule">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
    <style>
      .table-container {
        overflow-y: scroll; /* Kích hoạt thanh cuộn dọc */
        border: 1px solid #ccc; /* Thêm viền để tạo đường viền cho vùng cuộn */
        position: relative; /* Đặt vị trí của container là relative */
      }

      .table-container thead {
        position: sticky; /* Đặt vị trí của thead là sticky */
        top: 0; /* Bắt đầu từ đầu trang khi cuộn */
        background-color: #f9f9f9; /* Màu nền cho thead */
        z-index: 1; /* Đảm bảo thead nằm trên cùng */
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand"
          >Đạo Tràng Online<span class="text-primary"></span
        ></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#/user/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/user/event">Ashram</a>
            </li>
          </ul>
          <div ng-controller="loginController">
            <div ng-if="!isLoggedIn">
              <a
                href="pages/login.html"
                class="btn btn-outline-primary mx-3 mt-2 d-block"
                >Login</a
              >
            </div>
            <div ng-if="isLoggedIn">
              <div class="row">
                <div class="col-lg-6"> 
                  <a
                  href="#/user/post"
                  class="btn btn-outline-primary mx-3 mt-2 d-block"
                  >USER</a
                >
                </div>
                <div class="col-lg-6"> 
                  <a
                  ng-click="logout()"
                  class="btn btn-outline-primary mx-3 mt-2 d-block"
                  >Logout</a
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <br />
      <h1
        style="
          color: #194d7b;
          position: relative;
          text-transform: uppercase;
          text-align: center;
          font-size: 22px;
        ">
        Bài Viết
      </h1>
      <div class="row">
        <div class="col-lg-4" ng-repeat="posts in listBaiViet">
          <div class="card table-container" style="height: 512px">
            <li
              class="nav-item dropdown"
              style="
                display: flex;
                padding-top: 10px;
                padding-bottom: 7px;
                padding-left: 10px;
              ">
              <a
                class="nav-link nav-icon-hover"
                href="javascript:void(0)"
                id="drop2"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                <img
                  src="/assets/images/1-1681185654548.jpg"
                  alt=""
                  width="35"
                  height="35"
                  class="rounded-circle" />
              </a>
              <div>
                <h6 style="padding-top: 5px; padding-left: 10px">
                  {{posts.tenNguoiDung}}
                </h6>
              </div>
            </li>

            <img
              src="{{posts.image}}"
              class="card-img-top"
              alt="Fissure in Sandstone" />
            <div class="card-body">
              <h5 class="card-title">{{posts.tenBaiViet}}</h5>
              <p class="card-text">{{posts.noiDung}}</p>
              <div class="post-actions">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-3">
                        <a href="#/user/home"
                          ><img
                            src="/assets/images/heart-plus.png"
                            style="width: 24px; height: 24px"
                        /></a>
                      </div>
                      <div class="col-lg-6">
                        <h6 style="padding-top: 4px">
                          {{posts.soLuotThich}} Like
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-4">
                        <a
                          href="#/user/home"
                          data-bs-toggle="modal"
                          data-bs-target="#exampleModal">
                          <img
                            src="/assets/images/message.png"
                            style="
                              width: 24px;
                              height: 24px;
                              margin-left: 20px;
                            "
                        /></a>
                      </div>
                      <div class="col-lg-8">
                        <h6 style="padding-top: 4px">
                          {{posts.soLuotBinhLuan}} Comment
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-lg-9">
                  <input
                    type="text"
                    placeholder="Viết bình luận"
                    class="form-control"
                    style="width: 280px" />
                </div>
                <div class="col-lg-3">
                  <button class="btn btn-outline-primary" ng-click="thongBao()">
                    Đăng
                  </button>
                </div>
              </div>
            </div>
          </div>
          <br />
        </div>
        <nav aria-label="Page navigation example" style="margin-left: 400px">
          <ul class="pagination" style="padding-left: 150px">
            <li class="page-item">
              <a
                class="page-link"
                href="#/admin/posts"
                ng-click="previousPage()"
                >Previous</a
              >
            </li>
            <li
              class="page-item"
              ng-repeat="page in getPages() track by $index"
              ng-class="{active: page === currentPage}">
              <a
                class="page-link"
                href="#/admin/posts"
                ng-click="updatePage(page)"
                >{{page}}</a
              >
            </li>
            <li class="page-item">
              <a class="page-link" href="#/admin/posts" ng-click="nextPage()"
                >Next</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Modal Detail bài viết-->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content custom-modal-content">
          <div class="modal-body scroll-container table-container">
            <div class="">
              <li
                class="nav-item dropdown"
                style="display: flex; padding-top: 10px; padding-bottom: 7px">
                <a
                  class="nav-link nav-icon-hover"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img
                    src="/assets/images/1-1681185654548.jpg"
                    alt=""
                    width="35"
                    height="35"
                    class="rounded-circle" />
                </a>
                <div>
                  <h6 style="padding-top: 5px; padding-left: 10px">
                    Tên người dùng
                  </h6>
                </div>
              </li>
            </div>
            <img
              src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
              class="card-img-top"
              alt="Fissure in Sandstone" />
            <br />
            <br />
            <h5 class="card-title">Tên Bài Viết</h5>
            <p class="card-text" style="padding-top: 10px">Nội dung</p>
            <hr />
            <div class="post-actions">
              <div class="row">
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-3">
                      <a href="#"
                        ><img
                          src="/assets/images/heart-plus.png"
                          style="width: 24px; height: 24px"
                      /></a>
                    </div>
                    <div class="col-lg-6">
                      <h6 style="padding-top: 4px">17 Like</h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-4">
                      <a href="#/admin/posts-detail"
                        ><img
                          src="/assets/images/message.png"
                          style="width: 24px; height: 24px; margin-left: 20px"
                      /></a>
                    </div>
                    <div class="col-lg-8">
                      <h6 style="padding-top: 4px">18 Comment</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-lg-9">
                <input
                  type="text"
                  placeholder="Viết bình luận"
                  class="form-control"
                  style="width: 630px" />
              </div>
              <div class="col-lg-3">
                <button
                  class="btn btn-outline-primary"
                  style="margin-left: 70px">
                  Đăng
                </button>
              </div>
            </div>
            <hr />
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Bình Luận</th>
                </tr>
              </thead>
              <tbody class="table" ng-repeat="ac in listPhatTu">
                <tr>
                  <td>
                    <li
                      class="nav-item dropdown"
                      style="
                        display: flex;
                        padding-top: 10px;
                        padding-bottom: 7px;
                      ">
                      <a
                        class="nav-link nav-icon-hover"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img
                          src="/assets/images/1-1681185654548.jpg"
                          alt=""
                          width="35"
                          height="35"
                          class="rounded-circle" />
                      </a>
                      <div>
                        <h6 style="padding-top: 5px; padding-left: 10px">
                          Tên người dùng
                        </h6>
                        <p style="padding-top: 5px; padding-left: 10px">
                          Bình Luận
                        </p>
                      </div>
                    </li>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Detail bài viết -->
    <script src="/lib/angular.js"></script>
    <script src="/lib/angular-route.js"></script>
    <script src="../app.js"></script>
    <script src="../routes.js"></script>
    <script src="/src/controller/home-controller.js"></script>
    <script src="/node_modules/sweetalert2/dist/sweetalert2.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"></script>
  </body>
</html>
