.your-order-area h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 20px;
  color: #000;
}
.your-order-area .your-order-wrap {
  padding: 38px 45px 44px;
  background: #f6f6f6;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-top ul {
  display: flex;
  justify-content: space-between;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-top ul li {
  font-size: 16px;
  font-weight: 500;
  list-style: outside none none;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-middle {
  margin: 29px 0;
  padding: 19px 0 18px;
  border-top: 1px solid #dee0e4;
  border-bottom: 1px solid #dee0e4;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-total {
  margin: 18px 0 33px;
  padding: 17px 0 19px;
  border-top: 1px solid #dee0e4;
  border-bottom: 1px solid #dee0e4;
}
ul {
  margin: 0;
  padding: 0;
  list-style: outside none none;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-middle ul li {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-bottom ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-bottom ul li.your-order-shipping {
  font-size: 16px;
  font-weight: 400;
  color: #212121;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-bottom ul li {
  font-size: 14px;
  font-weight: 400;
  list-style: none;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-total {
  margin: 18px 0 33px;
  padding: 17px 0 19px;
  border-top: 1px solid #dee0e4;
  border-bottom: 1px solid #dee0e4;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-total ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-total ul li.order-total {
  font-size: 18px;
  font-weight: 500;
  color: #212121;
}
.your-order-area .your-order-wrap .your-order-product-info .your-order-total ul li {
  font-size: 16px;
  font-weight: 500;
  list-style: outside none none;
  color: #f58634;
}
b, strong {
  font-weight: bolder;
}
.mt-25 {
  margin-top: 25px;
}
.your-order-area .place-order>a, .your-order-area .place-order>button {
  font-weight: 500;
  line-height: 1;
  z-index: 9;
  display: block;
  width: 100%;
  padding: 18px 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 50px;
  background: none;
  background-color: #f58634;
}
